$valign-map: (
  start: flex-start,
  center: center,
  end: flex-end,
);

.tab-panel {
  $root: &;

  display: flex;
  flex-direction: column;
  flex-flow: 1 0;

  width: 600px;
  height: 800px;
  padding: 10px;

  border-radius: 5px;

  background-color: #d6d8d9;

  &__header {
    padding: 8px 0;
  }

  &__button {
    display: inline-block;
    padding: 8px 16px;

    text-align: center;
    vertical-align: middle;

    border: none;
    color: #212529;
    background-color: #f8f9fa;

    transition: background-color 0.3s ease;

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:hover {
      cursor: pointer;
      background-color: #e2e6ea;
    }

    &--active {
      cursor: default;
      background-color: #e2e6ea;
    }

    &:disabled {
      cursor: default;
      pointer-events: none;
      background-color: #b6bdc2;
    }
  }

  &__content {
    overflow: scroll;
    height: 400px;
    padding: 8px;
    flex: 1 0 auto;
    
    border-radius: 5px;
    background-color: #f8f9fa;
  }

  &__footer {
    padding: 8px 0;

    @each $key, $val in $valign-map {
      &--valign-#{$key} {
        align-self: $val;
      }
    }
  }
}