.upload-button {
  $root: &;

  display: inline-block;
  padding: 10px 20px;
  white-space: nowrap;

  text-align: center;
  vertical-align: middle;

  border: none;
  border-radius: 5px;
  color: #212529;
  background-color: #f8f9fa;

  transition: background-color 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: #e2e6ea;
  }
}