.form-submit {
  $root: &;

  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;

  text-align: center;
  vertical-align: middle;

  border: none;
  border-radius: 5px;
  color: #212529;
  background-color: #007bff;

  transition: background-color 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: #0069d9;
  }
}