.submit-button {
  $root: &;

  display: inline-block;
  padding: 10px 20px;

  text-align: center;
  vertical-align: middle;

  border: none;
  border-radius: 5px;
  color: #212529;
  background-color: #28a745;

  transition: background-color 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: #218838;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
    background-color: #b6bdc2;
  }
}