.form-field {
  $root: &;

  &__wrapper {
    display: flex;
    width: 100%;

    padding: 8px;
    margin: 8px 0;
  }

  &__col {
    display: flex;
    flex: 1 0 50%;
  }

  &__label {
    margin-right: 16px;
  }

  &__value {
    width: 100%;
  }

  &__checkbox,
  &__radio_value {
    width: initial;
  }

  &__radio_label {
    margin-bottom: 4px;
    margin-left: 8px;
  }

  &__radio {
    display: flex;
    flex-direction: column;
  }

  &__radio_wrapper {
    display: flex;
  }

}