.config-container {
  $root: &;

  &__form {
    display: flex;
    flex-direction: column;

    height: 100%;
  }

  &__content {
    flex: 1 0 auto;
  }

  &__footer {
    display: flex;
    margin-top: 8px;

    justify-content: flex-end;
    align-items: center;
  }

  &__error {
    width: 100%;

    margin-right: 40px;
  }

  &__upload {
    margin-right: 8px;
  }
}